#!/usr/bin/python3
import subprocess

subprocess.run('certbot --nginx $staging_arg $domain $email_arg --agree-tos --force-renewal', shell=True)
subprocess.run(['cp', '/etc/nginx/conf.d/default.conf', '/etc/nginx/sites-available/$conf.conf'])
subprocess.run(['certbot', 'renew', '--dry-run'])
